<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awear</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/flexslider.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/icofont.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/jQuery.verticalCarousel.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="static/css/img/site-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">
                        <div class="menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Extension</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                            <div class="sign_up">
                                <p><a href="#">sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text">
                            <h3>Awear: Discover Your CO2 Impact.</h3>
                            <h6>Welcome to Awear. Earn redeamable credit to eco-friendly clothing retailres when you invite others to download and use the app. Open the camera to begin. </h6>
                            <a class="button" href="invite">Invite others</a>
                            <a class="button white" href="signup">Sign-up for free</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header_video">
                            <iframe src="https://www.youtube.com/embed/bM4G1Toe3h0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="project">
            <div class="text">
                <h2>Easy & Useful</h2>
                <h4>Bringing environment impact and insight</h4>
                <p>Simply focus your camera on the piece of clothing, and take the picture.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-tasks-alt"></i>
                            <h3><a href="#">Analyzing the material composition</a></h3>
                            <p>The user can input their clothing's material composition after taking the photo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-team"></i>
                            <h3><a href="#">Estimates the clothing size and weight</a></h3>
                            <p>With just the material composition and the clothing dimensions, Awear can do its job.</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-worker"></i>
                            <h3><a href="templates/problem.html">Providing the impactful analysis how your clothing impacts the environment via CO2 emissions.</a></h3>
                            <p>Emissions data for each material type is provided and quantified to help you make the best decision on what to wear.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="button"><a class="button" href="#">Read more about the problem with fast fashion.</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="user_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="useres_part">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">business</i>
                                        <h4>Positive for the <br> environment</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">file_download</i>
                                        <h4>Tons of <br> CO2 saved</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">person</i>
                                        <h4>Social impact <br>for everyone</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">file_download</i>
                                        <h4>Sustainable <br> fashion</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section class="services">
            <div class="text">
                <h2>Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="services_area">
                            <div id="accordion">
                                <h3><i class="material-icons first">trending_up</i>Statistics<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up">
                                    <div class="accordion_img">
                                        <img src="img/accordion1.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3><i class="material-icons first">mail</i>inbox<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up">
                                    <div class="accordion_img">
                                        <img src="img/accordion1.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3><i class="material-icons first">group</i>team<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up">
                                    <div class="accordion_img">
                                        <img src="img/accordion1.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3><i class="material-icons first">settings</i>settings<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up">
                                    <div class="accordion_img">
                                        <img src="img/accordion1.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3><i class="material-icons first">rss_feed</i>feed<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up">
                                    <div class="accordion_img">
                                        <img src="img/accordion1.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </!-- section-->
        <!-- section class="customer_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="customer_say">
                            <h3>What our customers <br> have to say about us.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            <a class="button" href="#">Get started</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="vertical_main" id="vertical_main">
                            <div class="verticalCarousel">
                                <a href="#" class="vc_goDown"><i class="fa fa-fw fa-angle-down"></i></a>
                                <a href="#" class="vc_goUp"><i class="fa fa-fw fa-angle-up"></i></a>
                                <div class="vc_container" style="height: 285px;">
                                    <ul class="verticalCarouselGroup vc_list" style="transform: translateY(-135px);">
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="vertical_text">
                                                <img src="img/vertical_text_images1.jpg" alt="">
                                                <h4>Khalessi</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section -->
        <section class="team">
            <div class="text">
                <h2>Our Team</h2>
                <p>Meet Kasey, Braedyn and Jackie.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="img/sliderr1.png">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="team-text">
                                                <h3>Kasey Fu</h3>
                                                <p>CPO </p>
                                                <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="img/sliderr1.png">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="team-text">
                                                <h3>Braedyn Au</h3>
                                                <p>CTO</p>
                                                <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="img/sliderr1.png">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="team-text">
                                                <h3>Jackie Wang</h3>
                                                <p>CEO</p>
                                                <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact_area">
            <div class="text">
                <h2>Contact Us</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col md-12">
                        <div class="form_area">
                            <form action="#" method="post">
                                <div class="input_area">
                                    <input type="text" name="" placeholder="First Name">
                                    <input type="text" name="" placeholder="Last Name">
                                    <input type="email" name="" placeholder="Email">
                                    <input type="text" name="" placeholder="Phone">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="statioc/js/jquery.flexslider.js"></script>
    <script src="static/js/jQuery.verticalCarousel.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/active.js"></script>
</body>

</html>